<main class="main">
    <header class="main-header">
        <h1>
            <span>Habit</span><span>Quest</span>
        </h1>

            <app-navigation></app-navigation>
    </header>

    <app-register-user *ngIf="!userData" (onChange)="onRegister($event)"></app-register-user>

    <article class="main-article" *ngIf="userData">
        <header>
            <h2><span>Hej {{userData?.name}}!</span></h2>
            <app-progress [userData]="userData"></app-progress>
        </header>
        <app-select-date (dateChanged)="dateChanged($event)"></app-select-date>
        <app-habit-group [habitGroup]="habitGroup" *ngFor="let habitGroup of habitGroups" [selectedDate]="selectedDate"></app-habit-group>
    </article>



</main>
