<section
    [ngClass]="{'bad-habit': !habit.goodHabit, 'good-habit': habit.goodHabit, 'habit-item': true, 'completed': hasCompleted()}">
    <header>
        <h3>{{habit.name}}</h3>
        <p *ngIf="habit.note">{{habit.note}}</p>
    </header>

    <button
        class="add-habit"
        type="button"
        (click)="addHabit()"
        [disabled]="hasCompleted()">Lägg till</button>


    <ul class="habit-quests">
        <li *ngIf="habit.maxDay > 0" class="daily-quest">
            I dag: {{completedDailyCount()}}/{{habit.maxDay}}
        </li>
        <li *ngIf="habit.maxWeek > 0" class="weekly-quest">
            Denna vecka: {{completedWeeklyCount()}}/{{habit.maxWeek}}
        </li>
        <li *ngIf="habit.maxMonth > 0" class="monthly-quest">
            Denna månad: {{completedMonthlyCount()}}/{{habit.maxMonth}}
        </li>
    </ul>


</section>

