$icomoon-font-path: "fonts" !default;

$icon-home3: "\e902";
$icon-pencil: "\e905";
$icon-spinner9: "\e982";
$icon-cog: "\e994";
$icon-trophy: "\e99e";
$icon-floppy-disk: "\e962";
$icon-user: "\e971";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";

