$icomoon-font-path: "fonts" !default;

$icon-floppy-disk: "\e962";
$icon-user: "\e971";
$icon-cogs: "\e995";
$icon-fire: "\e9a9";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-menu: "\e9bd";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";

