<nav class="main-navigation" [ngClass]="{'show': navigationOpen}">
    <button class="no-button open-menu" (click)="openNavigation()"><span class="icon-menu"></span> <span class="visuallyhidden">Öppna navigation</span></button>

    <ul class="navigation-list">
        <li>
            <span class="icon-user"></span>
            <button type="button">Din sida</button>
        </li>
        <li>
            <span class="icon-cogs"></span>
            <button type="button">Inställningar</button>
        </li>
    </ul>
</nav>
