$base-unit: 10px;

$padding-small: $base-unit / 2;
$padding-medium: $base-unit;
$padding-large: $base-unit * 2;

/*Colors*/
$primary-color: #fefefe;
$primary-color-light: #fff;

$secondary-color-light: #ececec;
$secondary-color: #333;
$secondary-color-dark: #000;

$tertiary-color: #ccc;

$accent-color-dark: #EB8921;
$accent-color: #F5AD28;

/*fonts*/
$icomoon-font-path: "/assets/fonts" !default;

$icon-floppy-disk: "\e962";
$icon-user: "\e971";
$icon-cogs: "\e995";
$icon-fire: "\e9a9";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-menu: "\e9bd";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";

