$base-unit: 10px;

$padding-small: $base-unit / 2;
$padding-medium: $base-unit;
$padding-large: $base-unit * 2;

/*Colors*/
$primary-color: #fefefe;
$primary-color-light: #fff;

$secondary-color: #333;
$secondary-color-dark: #000;

$tertiary-color: #ccc;

$accent-color-dark: #EB8921;
$accent-color: #F5AD28;
